footer {
  color: $color-major;
  font-size: 1rem;
  margin: 3.2rem auto 0;
  padding: 3.2rem 0;

  a {
    color: $color-major;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-copyright {
}

.footer-links {
  font-size: 1.2rem;
  margin: 1rem 0;
  
  a {
    margin-left: 1rem;
    color: $color-minor;

    &:hover {
      color: $color-major;
    }

    &:first-of-type {
      margin: 0;
    }
  }
}

@media (max-width: $breakpoint) {
  footer {
    width: 100%;
    padding: 0;
  }
}
