.pic-container {
  color: $color-major;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
  padding: 0 1rem;
}

.pic {
  margin: 1rem 2rem 0 0;

  &:hover {
    .pic-overlay {
      display: block;
    }
  }
}

.pic-overlay {
  color: white;
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  height: 24rem;
  line-height: 24rem;
  position: absolute;
  text-align: center;
  width: 24rem;
  z-index: 999;
}

.pic-holder {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 24rem;
  width: 24rem;
}

.pic-title {
  font-size: 1.4rem;
  padding: 1rem 0 0;
  text-align: left;
}

.pic-desc {
  color: $color-minor;
  font-size: 1rem;
  padding: .4rem 0;
  text-align: left;
}

.pic-seperator {
  display: none;
}

@media (max-width: $breakpoint) {
  .pic-container {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 1rem;
    text-align: center;
    width: 100%;
  }

  .pic {
    height: auto;
    width: 100%;
    margin: 0 0 1rem;
    padding: 0 1rem;
  }

  .pic-title {
    text-align: center;
  }

  .pic-desc {
    text-align: center;
  }

  .pic-holder {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .pic-seperator {
    display: block;
    padding-bottom: 1rem;

    hr {
      border-top: solid #eee 1px;
      border-bottom: none;
      border-left: none;
      border-right: none;
      color: #eee;
      width: 1rem;
    }
  }

  .pic:last-child .pic-seperator {
    display: none;
  }
}
