* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 52rem) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: white;
  color: #484848;
  font-family: "Avenir Next", "Segoe UI", Helvetica, Arial;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}

img {
  border: 0;
}

nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: #484848;
}

nav a {
  color: #484848;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.title {
  font-size: 2.8rem;
  line-height: 1.0;
  padding-top: 1.8rem;
  text-align: left;
}

.description {
  padding-top: 1rem;
  text-align: left;
}

.content {
  color: #484848;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem auto 0;
  padding: 0 1rem;
}

.pic {
  height: 18rem;
  margin: 1rem 1rem 0 0;
  width: 16rem;
}

.pic:nth-of-type(3n) {
  margin-right: 0;
}

.pic img {
  height: 16rem;
  width: 16rem;
}

.pic-overlay {
  color: white;
  display: none;
  font-size: 1rem;
  font-weight: bold;
  height: 16rem;
  line-height: 16rem;
  position: absolute;
  text-align: center;
  width: 16rem;
  z-index: 999;
}

.pic:hover .pic-overlay {
  display: block;
}

.pic-holder {
  height: 16rem;
  width: 16rem;
}

.pic-desc {
  font-size: 1rem;
  padding: .4rem 0;
  text-align: center;
}

.pic-seperator {
  display: none;
}

@media (max-width: 52rem) {
  nav {
    border-radius: 0;
    width: 100%;
  }

  .title {
    text-align: left;
  }

  .description {
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: left;
  }
  
  .content {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
  }

  .pic {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }

  .pic img {
    width: 100%;
    height: auto;
  }

  .pic-holder {
    width: 100%;
    height: auto;
  }

  .pic-seperator {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .pic-seperator hr {
    width: 1rem;
    border-top: solid #eee 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #eee;
  }

  .pic:last-child .pic-seperator {
    display: none;
  }
}

footer {
  color: #484848;
  font-size: 1rem;
  margin: 3.2rem auto 0;
  padding: 3.2rem 0;
}

.footer-copyright {
}

.footer-links {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.footer-links a {
  margin-left: 1rem;
  color: #aaa;
}

.footer-links a:hover {
  color: #484848;
}

.footer-links a:first-of-type {
  margin: 0;
}

footer a {
  color: #484848;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 52rem) {
  footer {
    width: 100%;
  }
}

.qrcode-placeholder {
  display: none;
}

.qrcode-toggle {
  display: block;
  z-index: 100;
  margin: auto;
}
